.footer-container{
    height: 13vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 3;
    position: relative;
    .footer-wrapper{
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .footer-items{
            height: 60%;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .insta-wrapper{
                img{
                   height: 30px;
                   width: 30px; 

                   &:hover{
                       filter:hue-rotate(250deg);
                   }
                }
            }
            .facebook-wrapper{
                img{
                    height: 30px;
                    width: 30px; 
                    
                    &:hover{
                        filter:hue-rotate(250deg);
                    } 
                }
            }
            .twitter-wrapper{
                img{
                    height: 30px;
                    width: 30px;  
                    
                    &:hover{
                        filter:hue-rotate(250deg);
                    } 
                }
            }
            .email-wrapper{
                img{
                    height: 30px;
                    width: 30px;  

                    &:hover{
                        filter:hue-rotate(250deg);
                        pointer: cursor;
                    } 
                }
            }
        }
        .footer-dhb{
            height: 40%;
            width: 90%;
            text-align: center;
            h6{
                color: $primary;
            }
        }
    }
}

@media screen and (max-height: 800px) and (max-width: 450px){
    .footer-container{
        position: relative;
        height: auto;
        padding-top: 5%;
        .footer-wrapper{
            .footer-items{
            }
            .footer-dhb{
                padding-top: 5%;
            }
        }
    }
}