$primary: #e2bb1f;

.carousel-container{
        width: auto;
        top: 8vh;
        position: relative;            
        .img1{
            width: 100%;
            height: auto;
         }
}

.font-container{
    height: auto;
    width: auto;
    position: relative;
    top: 50px;

.font-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .font-dhb{
        width: 70%;
        height: auto;
        margin-top: 20px;
    }
}


h5{
    font-size: 1rem;
    text-align: center;
    padding: 15px 15px;

}

.btn-wrapper{
float: left;
width: 50%;
text-align: center;
    .btn-cta{
        border-radius: 10px;
        background-color: #e25a1f;
        font-size: 0.9rem;
        color: white;
        text-align: left;
        line-height: 1.2;
        padding: 0 3%;
        width: 90%;

        &:hover{
            background-color:  #ffdf4e;
            color: black;
        }
            .whatsapp{
                width: 25px;
                height: 25px;
                filter: invert(100);
                margin-top: 3%;
                margin-right: 5%;
                float: left;

                &:hover{
                    filter: none;
                }
                }
            
    }
}
.btn-wrapper-3{
float: right ;
width: 50%;
text-align: center;
    .btn-cta-3{
        border-radius: 10px;
        font-size: 0.9rem;
        color: white;
        border:2px solid #e25a1f;
        color: black;
        padding: 0 5%;
        line-height: 1.2;
        width: 90%;

        &:hover{
            background-color: #e25a1f;
            color: black;
        }
        .beep{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            float: left;
            margin-top: 3%;
            margin-right: 5%;
        }
    }           
}

.btn-wrapper-2{
    text-align: center;
    margin-top: 25%;
    .btn-cta-2{
        background-color: $primary;
        border-radius: 5px;
        padding: 0 10px;
        box-shadow: 0px 3px 5px black;

        &:hover{
            background-color:  red;
        }
    }
}
}

@media screen and (min-width: 720px){
    .font-container{
        .font-wrapper{
        position: relative;
        .font-dhb{
            margin-top: 80px ;
        }
    }
    h5{
        font-size: 2rem;
    } 
.btn-wrapper{
        .btn-cta{
            font-size: 1.5rem !important;
            padding: 0 10%;
            .whatsapp{
                width: 50px;
                height: 50px;
                margin-top: 1%;
            }
}
}
.btn-wrapper-3{
    .btn-cta-3{
        font-size: 1.5rem !important;
        padding: 0 12%;
        .beep{
            width: 50px;
            height: 50px;
            margin-top: 1%;
        }
}
}
.btn-wrapper-2{
    .btn-cta-2{
        font-size: 1.5rem;
    }
}
}

@media screen and (min-width: 1024px) {
    .carousel-container{
        position: relative;
        height: auto;
        width: 100%;
        top: 0;
    
        .img1{
            width: 100%;
            height: auto;
         }
 } 
 .font-container{
    top: -20%;
    height: 25vh;
 }
 .btn-wrapper{
 .btn-cta{
     font-size: 2.5rem !important;
     padding: 0 25%;
     text-align: center !important; 
     .whatsapp{
         transform: translateX(20%);
        }
 }
}
.btn-wrapper-2{
    margin-top: 15% !important;
}
}
}


@media screen and (min-width: 1366px){
    .carousel-container{
        .img1{
            height: 100vh;
        }
    }
    .font-container{
        height: auto;
        position: relative;
        h5{
            padding: 0 100px 70px 100px;
        }
    }
    .btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    .btn-cta{
        margin: 0 !important;
        width: 100% !important;
        }
    }
    .btn-wrapper-3{
        display: flex;
        align-items: center;
        justify-content: center;
    .btn-cta-3{
        margin: 0 !important;
        width:450px !important;
        }
    }
    .btn-wrapper-2{
        .btn-cta-2{
            margin-top: -300px;
            font-size: 2.5rem;
        }
    }
}


@media screen and (min-width: 1440px){
    .font-container{
        position: relative;
        height: 60vh;
        h5{
            padding: 0 100px 100px 100px;
        }
    .btn-wrapper{
        .btn-cta{
            padding: 0 10% !important;
        }
    }
    .btn-wrapper-3{
        .btn-cta-3{
            padding: 0 10%;
        }
    }
    .btn-wrapper-2{
        margin-top: 10% !important;
    .btn-cta-2{
        margin: 0;
        padding: 0 2%;
        }
    }
}
}