$primary: #e2bb1f;

.carousel-container{
        width: auto;
        top: 8vh;
        position: relative;            
        .img1{
            width: 100%;
            height: auto;
         }
}

.font-container{
    height: auto;
    width: auto;
    position: relative;
    top: 50px;

.font-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .font-dhb{
        width: 70%;
        height: auto;
        margin-top: 20px;
    }
}


h5{
    font-size: 1rem;
    text-align: center;
    padding: 15px 15px;

}

.btn-wrapper{
display: flex;
align-items: center;
justify-content: center;
    .btn-cta{
        border-radius: 10px;
        background-color: #e25a1f;
        padding: 2px 20px;
        font-size: 1rem;
        box-shadow: 10px 5px 5px rgb(44, 44, 44);
        color: white;

        &:hover{
            background-color:  #ffdf4e;
            color: black;
        }
            .whatsapp{
                width: 20px;
                height: 20px;
                filter: invert(100);

                &:hover{
                    filter: none;
                }
                }
            
    }
}
.btn-wrapper-2{
    text-align: center;
    margin-top: 20px;
    .btn-cta-2{
        background-color: $primary;
        border-radius: 10px;
        padding: 5px 10px;
        box-shadow: 10px 5px 10px black;

        &:hover{
            background-color:  red;
        }
    }
}
}

@media screen and (min-width: 720px){
    .font-container{
        .font-wrapper{
        position: relative;
        .font-dhb{
            margin-top: 80px ;
        }
    }
    h5{
        font-size: 2rem;
    } 
}
.btn-wrapper{
        .btn-cta{
            font-size: 1.5rem !important;
}
}
.btn-wrapper-2{
    .btn-cta-2{
        font-size: 1.5rem;
    }
}
}

@media screen and (min-width: 1025px) {
    .carousel-container{
        position: relative;
        height: 100vh;
        width: 100%;
        top: 0;
    
        .img1{
            width: 100%;
            height: 100vh;
         }
 } 
 .font-container{
    top: -40px;
 }
 .btn-wrapper{
 .btn-cta{
     font-size: 2.5rem !important;
     .whatsapp{
        width: 30px !important;
        height: 30px !important;
        }
 }
}
}


@media screen and (min-width: 1366px){
    .font-container{
        position: relative;
        h5{
            padding: 0 100px 10px 100px;
        }
    }
    .btn-wrapper{
    .btn-cta{
        position: relative;
        font-size: 2.5rem !important;
        top: 40px;
        .whatsapp{
           width: 30px !important;
           height: 30px !important;
           }
        }
    }
    .btn-wrapper-2{
        .btn-cta-2{
            margin-top: 5%;
            font-size: 2.5rem;
        }
    }
}


@media screen and (min-width: 1440px){
    .font-container{
        position: relative;
        h5{
            padding: 0 100px 10px 100px;
        }
    }
    .btn-wrapper{
    .btn-cta{
        font-size: 2.5rem !important;
        margin-top: 30px;
        .whatsapp{
           width: 30px !important;
           height: 30px !important;
           }
        }
    }
}