
.loyalty-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(30px);
    z-index: 50;
    .btn-exit{
        position: fixed;
        right: 30px;
        top: 40px;
        z-index: 20;
        button{
            background: none;
            border: none;
            img{
                height:20px;
                width: 20px;

                &:hover{
                    transform: scale(1.2);
                    filter: saturate(2);
                }
            }
        }
    }
    .loyalty-wrapper{
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;   
        height: 100%;
        width: 100%;
        position: relative;
        .loyalty-card{
            text-align: center;
            position: absolute;
            top: 15%;
            z-index: 1;
            img{
                width: 80%;
                box-shadow: 0 10px 10px black;
            }
        }
        .loyalty-form{
            background-color: rgb(211, 211, 211);
            height: auto;
            width: 90vw;
            border-radius: 10px;
            padding: 60px 30px;
            top: 35%;
            position: absolute;
            .name-wrapper{
                label{
                    margin-right: 4%;
                }
                .input-name{
                    width: 100%;
                    padding-left: 10px;
                }
                }
            .email-wrapper{
                label{
                    margin-right: 3%;
                    padding-top: 10px;
                }
                .input-email{
                    width: 100%;
                    padding-left: 10px;
                }
            }
            .btn-cta{
                text-align: center;
                margin-top: 2rem;
                button{
                    background-color: $primary;
                    font-size: 1.2rem;
                    border-radius: 10px;
                    width: 40%;

                    &:hover{
                        filter: brightness(2);
                    }
                }
            }
        }
        }
    }

@media screen and (max-height: 800px){
    .loyalty-container{
        .loyalty-wrapper{
            .loyalty-form{
                top: 40%;
            }
        }
    }
} 

@media screen and (max-height: 700px){
    .loyalty-container{
        .loyalty-wrapper{
            .loyalty-form{
                top: 40%;
                height: 55vh;
            }
        }
    }
}

@media screen and (max-height: 600px){
    .loyalty-container{
        .loyalty-wrapper{
            .loyalty-form{
                height: 55vh;
                top: 38%;
            
            .btn-cta{
                margin-top: 15px;
                button{
                    width: auto;
                }
            }
        }
    }
}  
}


@media screen and (min-width: 720px){
    .loyalty-container{
        .loyalty-wrapper{
            .loyalty-form{
                top: 53%;
                }
            }
        }
    }

    @media screen and (min-width: 1024px){
        .loyalty-container{
            .loyalty-wrapper{
                .loyalty-form{
                    top: 52%;
                    .font-wrapper{
                        text-align: center;
                    }
                    }
                }
            }
        }

        @media screen and (min-width: 1366px){
            .loyalty-container{
                .loyalty-wrapper{
                    flex-direction: row;
                    height: auto;
                    top: -20%;
                    .loyalty-card{
                        left: 10%;
                        text-align: start;
                        width: auto;
                        z-index: 0;
                        img{
                            width: 40%;
                        }
                    }
                    .loyalty-form{
                        width: 40%;
                        right: 10%;
                        .name-wrapper{
                            label{
                            }
                            .input-name{
                            }
                            }
                        .email-wrapper{
                            label{
                            }
                            .input-email{
                            }
                        }
                        .btn-cta{
                            button{
            
                                &:hover{
                                }
                            }
                        }
                    }
                    }
                }
            }


