.pantry-container{
    height: auto;
    width: 100%;
    margin: 30% 0 10% 0;
    h4{
        font-family: 'Monoton', cursive;
        letter-spacing: 5px;
        text-align: center;
    }
    .img-wrapper{
        text-align: center;
        margin: 10% 0;
        img{
            width: 300px;
            border-radius: 30px;
            box-shadow: 0 5px 10px black;
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    .btn-wrapper{
        margin-top: 5%;
            .btn-cta{
                border-radius: 10px;
                background-color: #e25a1f;
                padding: 2px 20px;
                font-size: 1rem;
                color: white;
        
                &:hover{
                    background-color:  #ffdf4e;
                    color: black;
                }
                    .whatsapp{
                        width: 20px;
                        height: 20px;
                        filter: invert(100);

                        &:hover{
                            filter: none;
                        }
                    } 
            }
        }
}
}

@media screen and (min-width: 720px){
    .pantry-container{
        margin-top: 20%;
        h4{
            font-size: 2.5rem;
        }
    .img-wrapper{
    img{
        width: 500px;
    }
}
.btn-container{
    .btn-wrapper{
        .btn-cta{
            font-size: 1.5rem;
            padding: 2px 20px;
        }
    }
}
}
}

@media screen and (min-width: 1366px){
    .pantry-container{
        margin-top: 50%;
        h4{
            font-size: 5rem;
        }
    .img-wrapper{
        margin: 0;
    img{
        width: 800px;
    }
}
.btn-container{
    .btn-wrapper{
        a{
            .btn-cta{
        .whatsapp{
            width: 50px;
            height: 50px;
            margin-bottom: 2%;
            margin-right: 20px;
        }
    }
    }
}
}
}
}
@media screen and (min-width: 1440px){
    .pantry-container{
        margin-top: 65%;
        h4{
            font-size: 5rem;
        }
    .img-wrapper{
        margin: 0;
    img{
        width: 800px;
    }
}
.btn-container{
    .btn-wrapper{
        a{
            .btn-cta{
        .whatsapp{
            width: 50px;
            height: 50px;
            margin-bottom: 2%;
            margin-right: 20px;
        }
    }
    }
}
}
}
}

@media screen and (min-width: 1800px){
    .pantry-container{
        margin-top: 5%;
        h4{
            font-size: 5rem;
        }
    .img-wrapper{
        margin: 0;
    img{
        width: 800px;
    }
}
}
}