$primary: #e2bb1f;

.story-container{
    height: auto;
    width: 100%;
    background: linear-gradient(yellow, $primary);
    box-shadow: 0 5px 15px black;
    // background-color: $primary;
    // background-color: yellow;
    position: relative;
    transform: translateY(70px);
    // &:hover{
    //     background-color: $primary;
    //     -webkit-transition: background-color 1000ms linear;
    //     -ms-transition: background-color 1000ms linear;
    //     transition: background-color 1000ms linear;}
    h4{
        text-align: center;
        padding-top: 30px;
        font-weight: bolder;
    }
    .story-img-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        .story-img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            margin-top: 20px;
            box-shadow: 5px 10px 15px #000;
        }
    }

    .story-p-container{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        .story-p-wrapper{
            height: auto;
            width: 70%;
            p   {
                font-size: 1rem;
                color: rgb(0, 0, 0);
                font-weight: 400;
            }
        }
    }
}


@media screen and (min-width: 720px){
    .story-container{
        margin-top: 50px;
        padding: 20px 0;
    h4{
        font-size: 2.5rem;
    }
    .story-img-wrapper{
        margin-bottom: 30px;
    }            
    
    p {
    font-size: 1.5rem !important;
    font-weight: 400;
            }
}
}

@media screen and (min-width: 1025px){    
//     #story::before {
//     content: '';
//     display: block;
//     height:      1000px;
//     margin-top: -1000px;
//     visibility: hidden;
//   }
    .story-container{
        margin: 0;
        height: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 30px;
        h4{
            white-space: nowrap;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 80px;
            padding: 30px 0;
            margin-left: 30px;
        }
        .story-img-wrapper{
            .story-img{
                height: 400px;
                width: 400px;
                margin-left: 50px;
            }
        }
    }
}

// @media screen and (max-height:770px){
//     .story-container{
//         position: relative;
//         top: 550px;
//         height: 60%;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         padding: 20px 30px;
// }
// }


@media screen and (min-width: 1440px){
    .story-container{
    .story-img-wrapper{
        .story-img{
            margin-left: 150px;
        }
    }
}
}