@import "./navbar";
@import "./hero";
@import "./story";
@import "./menu";
@import "./reviews";
@import "./findus";
@import "./contact";
@import "./footer";
@import "./loyalty";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$primary: #e2bb1f;
$font: 45px; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

    /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }
}


